body {
  margin: 0;
  background: #ffffff;
  color: #000000;
}

.page-content {
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 5px;
  display: table;
  content: "";
  clear: both;

}


@media screen and (max-width: 1024px){

  .page-content {
    margin: 2.5%;
    width: auto;
    }

  .main-content {
    width: 50%;
    float: left;
    margin-left: 1%;
  }
}

.user-sidebar {
  box-sizing: border-box;
  display: block;
  margin: auto;
  width: 25%;
  // padding-bottom: 20%;
  float: left;
  border-bottom: 1px solid #ddd;
  // outline: 1px solid #000000;

      img {
        border-radius: 8px;
        margin-right: auto;
        margin-left: auto;
        width: 99%;
        margin-bottom: 10px;
      }

} //END USER-SIDEBAR ICON


.name-login {
  margin-top: 10px;
  text-align: left;
  line-height: 1px;
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  // border: 1px solid #000000;

        h3 {
          font-size: 20pt;
          color: #000000;
          font-family: Arial, sans-serif;
          font-style: bold;
          margin-top: 10px;
        }

        p {
          font-size: 13pt;
          color: #000000;
          margin-bottom: 10px;
          padding-bottom: 8%;
        }

} //END NAME-LOGIN


.details {
  display: block;
  border-bottom: 1px solid #ddd;
  // line-height: .2px;

    li {
      color: #000000;
      font-size: 10pt;
      list-style-type: none;
      line-height: 15px;
    }

    i {
      font-size: 13px;
      color: #A1A1A1;
    }
}


.stats {
  margin-top: 15px;
  text-align: center;
  float: left;
  box-sizing: border-box;
  display: table;
  content: "";
  clear: both;

    dl {
      text-align: center;
      display: inline-block;
      width: 33.333%;
      line-height: 1;
    }

    dt {
      display: block;
      color: #4078c0;
      font-size: 16pt;
      text-align: center;
      font-weight: bold;
    }

    dd {
      display: inline-block;
      margin: 0;
      font-size: 8pt;
    }
}

.mobile-only {
  display: none;

    @media screen and (max-width: 568px){
      display: inherit;
      width: 100%;
    }
}

@media screen and (max-width: 568px){ //MOBILE
    .page-content {
      margin: 2%;
      width: auto;
    }

    .name-login {
      margin-left: 3%;
    }

    .details {

    }

    .main-content {
      margin-left: 0 !important;
      width: 100% !important;
    }

    .leftButtons {
      width: 90%;
      position: absolute;
      top: 400px;
      left: 20px;
      right: 20px;
      bottom: 20px;

        button.octicon-person {
          padding: 9px 15px !important;
        }
    }

}

.main-content {
  box-sizing: border-box;
  display: block;
  margin-left: 2%;
  margin-right: auto;
  width: 72%;
  // outline: 1px solid #000000;
  // padding-left: 2%;
  float: left;
}

a:link { //TAB LINKS
    text-decoration:  none;
    color: #666;
    font-size: 10pt;
    font-family: arial;
}

a:visited {
  text-decoration:  none;
  color: #666;
  font-size: 10pt;
  font-family: arial;
}

a:active {
  text-decoration:  none;
  color: #000000;
  font-size: 10pt;
  font-family: arial;
}


.tabs a[href].about {
  display: none;
}

nav.tabs {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    a[href] { //TAB LINKS/LINE LOCATION
      display: inline-block;
      position: relative;
      bottom: -11px;
      font-size: 10pt;
      padding: 2%  2% 1% 2%;


      &.active {
      border: 1px solid #ddd;
      border-bottom: 3px solid #ffffff;
      border-bottom-color: white;
    }
  }

    li {
      background-color: #ffffff;
      display: inline-block;
      float: left;
      font-size: 10pt;

    }

.leftButtons {
  display: inline-block;
  float: right;
  content: "";
  clear: both;
}

button.octicon-person {
    display: inline-block;
    float: right;
    padding: 2px 10px;
    border-radius: 3px;
    color: #ffffff;
    background: #60b044; }
button.octicon-stop {
    float: right; }


    ul {
      list-style-type: none;
    }
}





.search {
  padding-top: 15px;
  display: inline-block;
  width: 100%;

    #search {
      display: inline-block;
      padding-bottom: 1%;
      float: left;
    }

    button {
      display: inline-block;
      text-align: center;
    }

    nav.links {
      float: right;
      display: inline-block;
      content: "";
      clear: both;
    }
}


.repoItems {
  display: block;
  border-top: 1px solid #ddd;


    h2 {
      font-size: 16pt;
      color: #4078c0;
      line-height: 10pt;
      padding-top: 3%;
    }

    .description {
      color: #666;
      font-size: 12pt;
      line-height: 10pt;

    }

    .updated {
      color: #888;
      font-size: 10pt;
      line-height: 10pt;
      padding-bottom: 3%;
    }

    .one {
      border-bottom: 1px solid #ddd;
    }

    .two {
      border-bottom: 1px solid #ddd;
    }

    .three {
      border-bottom: 1px solid #ddd;
    }
}
