.comment-box-wrap {
  @extend .clearfix;
  margin-top: 5%;
  border-top: 2px solid #f3f3f3;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;

    img {
      width: 6%;
      float: left;
    }

}

.comment-container {
  margin-top: 3%;
  position: relative;
  border-radius: 3px 3px 0 0;

}

.comment-box {
  margin-left: 9%;
  border: 1px solid #bfccd1;
  border-radius: 3px;

    header {
      background: #f2f8fa;
      border-bottom: 1px solid #dde4e6;
      padding: 1.5%;
      font-size: 10pt;
      color: #767676;
    }

    .comment {
      margin: 2%;
      font-size: 11pt;
    }

  }




.form {
  @extend .clearfix;
  margin-top: 5%;
  border-top: 2px solid #f3f3f3;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;

    img {
      width: 6%;
      float: left;
    }

}


.form-container {
  margin-top: 3%;
  position: relative;
  // outline: 1px solid #000;
  border-radius: 3px 3px 0 0;

}

.comment-form {
  margin-left: 9%;
  border: 1px solid #ddd;
  border-radius: 3px;

    header {
      background: #f7f7f7;
      border-bottom: 1px solid #ddd;
      padding: 2%;
    }

    fieldset {
      margin: 2%;

    .input {
      margin-bottom: 1%;
      background: #fafafa;

        textarea.write {
          width: 99%;
          padding-bottom: 10%;
          border: 1px solid gray;
          border-radius: 3px;
        }

    }

    .buttons {
      float: right;

        .issue {
          background: #eee;
          border: 1px solid #d5d5d5;
          color: #333;
        }

        .comment-button {
          background: #60b044;
          border: 1px solid #5ca941;
          color: #ffffff;

        }
    }

  }
}
