@media screen and (max-width: 568px) {

body {
  padding: 0;
}

.main-content {
  margin: 0 auto;
  width: 100%;
}

.tabs {
  box-sizing: border-box;
  width: 100%;
  display: table;
  content: "";
  clear: both;

      a.active {
        color: #000000;
        border-top: 2px solid #d26911;
        border-right: 1px solid #ddd;
        border-bottom-color: #ffffff;
      }

}

.user-sidebar {
  overflow:hidden;
  width: 100%;
  float: left;
}










}
