@media screen and (max-width: 568px) {

body {
  padding: 0;
}

.user-sidebar {
  padding: 4%;
  overflow:hidden;
  width: 100%;
  float: left;
  display: table;
  content: "";
  clear: both;

      img {
        float:left;
        width: 40%;
      }

      .name-login {
        float: left;
        border-bottom: none;
      }

      .details {
        border-bottom: none;
        display: inline-block;
        content: "";
        clear: both;
      }

}


nav.tabs.mobile-only {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;


    a[href] { //TAB LINKS/LINE LOCATION
      display: inline-block;
      position: relative;
      bottom: -10px;
      font-size: 15pt;
      padding: 3%  8% 2% 8%;
      background: #fafafa;
      color: #4078c0;
      font-weight: bold;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;;

      &.active {
        color: #000000;
        border-top: 2px solid #d26911;
        border-right: 1px solid #ddd;
        border-bottom-color: #ffffff;
        background: #ffffff;
    }
  }
}


.tabs a[href].contri { //HIDES CONTRI TAB
  display: none;
}

.tabs a[href].pa { //HIDES PA TAB
  display: none;
}

.tabs a[href].repo { //HIDES PA TAB
  display: none;
}

button.octicon-stop {
  display: none;
}

li.octicon-clock {
  display: none;
}

.search {
  display: none;
}

button.follow {
  width: 100%;
  display: block;
}

.stats {
  width: 100%;
}




}
